<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy</title>
    <link rel="stylesheet" href="../styling/contact.css">
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <h1>
        Contact Me
    </h1>
    <div class="contact-container">
        <li>
            <a href="https://github.com/laserzz">Github!</a>
        </li>
        <li>
            <a href="https://discord.gg/bdqHtNcqxd">Discord!</a>
        </li>
    </div>
    <div class="contact-imgs">
        <li>
            <img src="../assets/git.png">
        </li>
        <li>
            <img src="../assets/discord.png">
        </li>
    </div>
</body>
</html>