<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy</title>
    <link rel="stylesheet" href="../styling/index.css">
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <h1>
        Hello! I am Rainy :3
    </h1>
    <img src="https://cdn.discordapp.com/avatars/941778098674892851/f5ff0a440f17d54ad266158a49a29de6.png?size=4096">
    <h3>
        I enjoy doing things like VAing, programming, playing games, and listening to music.
        My favorite programming languages are Python, JavaScript and TypeScript.

        I love music, especially indie rock and metal of several genres (heavy, power, DSBM, nu, sludge).
    </h3>
</body>
</html>