<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainy</title>
    <link rel="stylesheet" href="../styling/projects.css">
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <h1>
        My Projects
    </h1>
    <div class="project-container">
        <li>
            <figure>
                <a href="https://discord.com/api/oauth2/authorize?client_id=1038670923424866397&permissions=1101659491398&scope=bot%20applications.commands"><img src="https://cdn.discordapp.com/avatars/1038670923424866397/48dbf5ad0ed1b670f9e436ad26948db2.png?size=4096"></a>
                <figcaption>
                    <h1>
                        CuteFem
                    </h1>
                    <p>
                        Discord Bot in JS with per-guild economy, moderation, and more!
                        Click the image to invite!
                    </p>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <a href="https://github.com/laserzz/rainbot"><img src="https://cdn.discordapp.com/avatars/1016878566249603133/d8417d4cd17fd9e215e734b330b0be1a.png?size=4096"></a>
                <figcaption>
                    <h1>
                        RainBot
                    </h1>
                    <p>
                        Bot for my Personal Server in Python.
                    </p>
                </figcaption>
            </figure>
        </li>
    </div>
</body>
</html>