.navbar-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: midnightblue;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: xx-large;
    text-align: center;
    margin-top: -6%;
}

.navbar-container a {
    text-decoration: none;
    color: lightsalmon;
}

.navbar-container a:hover {
    color: aliceblue;
}

.navbar-container a:visited {
    color: fuchsia;
}

@media only screen and (max-device-width: 767px) {
    .navbar-container {
        text-align: center;
        display: block;
        margin-top: -40%;
        margin-bottom: -25%;
    }
    
    li {
        margin-top: -5%;
        margin-bottom: -5%;
    }
}